* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 97px;
  top: 251px;
  width: 308px;
  height: 90px;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 437px;
  top: 251px;
  width: 310px;
  height: 91px;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 97px;
  top: 340px;
  width: 306px;
  height: 96px;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 437px;
  top: 346px;
  width: 310px;
  height: 91px;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 97px;
  top: 435px;
  width: 306px;
  height: 99px;
	z-index: 5;
}


#radio01 {
	position: absolute;
  left: 97px;
  top: 251px;
  width: 308px;
  height: 90px;
	z-index: 999;
}

#radio02 {
	position: absolute;
  left: 437px;
  top: 251px;
  width: 310px;
  height: 91px;
	z-index: 999;
}

#radio03 {
	position: absolute;
  left: 97px;
  top: 340px;
  width: 306px;
  height: 96px;
	z-index: 999;
}

#radio04 {
	position: absolute;
  left: 437px;
  top: 346px;
  width: 310px;
  height: 91px;
	z-index: 999;
}

#radio05 {
	position: absolute;
  left: 97px;
  top: 435px;
  width: 306px;
  height: 99px;
	z-index: 999;
}