* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.yes {
  position: absolute;
  left: 142px;
  top: 408px;
  width: 39px;
  height: 40px;
  display: none;
  z-index: 5;
}

.no {
  position: absolute;
  left: 432px;
  top: 408px;
  width: 39px;
  height: 40px;
  display: none;
  z-index: 5;
}
