* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 94px;
  top: 252px;
  width: 382px;
  height: 85px;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 492px;
  top: 252px;
  width: 381px;
  height: 85px;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 93px;
  top: 351px;
  width: 384px;
  height: 102px;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 490px;
  top: 351px;
  width: 406px;
  height: 92px;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 94px;
  top: 452px;
  width: 382px;
  height: 84px;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 490px;
  top: 450px;
  width: 406px;
  height: 92px;
	z-index: 5;
}


#radio01 {
	position: absolute;
  left: 94px;
  top: 252px;
  width: 382px;
  height: 85px;
	z-index: 999;
}

#radio02 {
	position: absolute;
  left: 492px;
  top: 252px;
  width: 381px;
  height: 85px;
	z-index: 999;
}

#radio03 {
	position: absolute;
  left: 93px;
  top: 351px;
  width: 384px;
  height: 94px;
	z-index: 999;
}

#radio04 {
	position: absolute;
  left: 490px;
  top: 351px;
  width: 406px;
  height: 92px;
	z-index: 999;
}

#radio05 {
	position: absolute;
  left: 94px;
  top: 452px;
  width: 382px;
  height: 84px;
	z-index: 999;
}

#radio06 {
	position: absolute;
  left: 490px;
  top: 450px;
  width: 406px;
  height: 92px;
	z-index: 999;
}