*{
margin: 0px;
padding: 0px;
}

.s1 {
position: absolute;
width: 1080px;
height: 810px;
z-index: 1;
}

.s2 {
position: absolute;
left: 217px;
top: 73px;
width: 602px;
height: 179px;
animation: zoomInDown 0.7s;
animation-delay: 0s;
animation-fill-mode: both;
z-index: 5;
}

.s3 {
position: absolute;
left: 268px;
top: 285px;
width: 505px;
height: 144px;
animation: zoomIn 0.5s;
animation-delay: 0.5s;
animation-fill-mode: both;
z-index: 5;
}

.s4 {
position: absolute;
left: 362px;
top: 401px;
width: 501px;
height: 46px;
animation: fadeInRight 0.5s;
animation-delay: 0.5s;
animation-fill-mode: both;
z-index: 5;
}

.s5 {
position: absolute;
left: 342px;
top: 505px;
width: 435px;
height: 275px;
animation: zoomIn 0.3s;
animation-delay: 1s;
animation-fill-mode: both;
transform-origin: bottom;
z-index: 5;
}

.s6w {
position: absolute;
left: 255px;
top: 492px;
width: 254px;
height: 88px;
animation: fadeIn 0.1s;
animation-delay: 1.3s;
animation-fill-mode: both;
z-index: 10;
}

.s6 {
position: absolute;
left: 0px;
top: 0px;
width: 254px;
height: 88px;
animation: tada 1s;
animation-delay: 1.4s;
animation-fill-mode: both;
z-index: 10;
}

.s7 {
position: absolute;
left: 362px;
top: 579px;
width: 340px;
height: 103px;
animation: zoomIn 0.3s;
animation-delay: 1.7s;
animation-fill-mode: both;
z-index: 5;
}

.s8 {
position: absolute;
left: 362px;
top: 579px;
width: 340px;
height: 103px;
animation: flashLongOff 0.2s 2;
animation-delay: 2.2s;
animation-fill-mode: both;
z-index: 10;
}

@keyframes flashLongOff {
0%,  100% {
opacity: 0;
}

25%, 50%, 75% {
opacity: 1;
}
}