* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 93px;
  top: 251px;
  width: 435px;
  height: 91px;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 93px;
  top: 346px;
  width: 435px;
  height: 91px;
	z-index: 5;
}

#radio01 {
    position: absolute;
  left: 93px;
  top: 251px;
  width: 435px;
  height: 91px;
	z-index: 999;
}

#radio02 {
    position: absolute;
  left: 93px;
  top: 346px;
  width: 435px;
  height: 91px;
	z-index: 999;
}