* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 984px;
  top: 374px;
  width: 66px;
  height: 66px;
  	animation: pulse 0.5s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 5;
}