*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 800px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 89px;
  top: 432px;
  width: 213px;
  height: 277px;
	animation: zoomIn 0.7s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 132px;
  top: 441px;
  width: 215px;
  height: 276px;
	animation: zoomIn 1s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom left;
	z-index: 7;
}

* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.takeCover {
	position: absolute;
  left: 0px;
  top: 639px;
  width: 76px;
  height: 54px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 413px;
  top: 388px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 651px;
  top: 388px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 413px;
  top: 482px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 651px;
  top: 482px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 413px;
  top: 572px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 651px;
  top: 572px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 531px;
  top: 660px;
  width: 213px;
  height: 76px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}