* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 92px;
  top: 246px;
  width: 446px;
  height: 104px;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 92px;
  top: 349px;
  width: 483px;
  height: 98px;
	z-index: 5;
}

#radio01 {
    position: absolute;
  left: 92px;
  top: 246px;
  width: 446px;
  height: 98px;
	z-index: 999;
}

#radio02 {
    position: absolute;
  left: 92px;
  top: 349px;
  width: 483px;
  height: 98px;
	z-index: 999;
}